nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: #caf9ff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 1rem;
    z-index: 1000;
    border-radius: 8px;
}

.navbar,
#rightHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00e1ff;
}

.nav-links a.active {
    color: #00e1ff;
}

.language-switcher {
    margin-left: 1rem;
}

.language-switcher button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #007c91;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.language-switcher button:hover {
    background-color: #00bcd4;
    transform: translateY(-2px);
}