<div class="project-detail" *ngIf="project">
    <h1>{{ project.titlekey|translate }}</h1>

    <div class="media">
        <video *ngIf="project.video" [src]="project.video" controls></video>
        <img *ngIf="!project.video" [src]="project.image" [alt]="project.title" />
    </div>

    <p *ngIf="project.projectURL" translate>
        project.test <a [href]="project.projectURL" target="_blank">{{ project.projectURL }}</a>
    </p>

    <p *ngIf="project.githubRepo" translate>
        project.code <a [href]="project.githubRepo" target="_blank">{{ project.githubRepo }}</a>
    </p>

    <div class="project-text">
        <p *ngFor="let paragraph of (project.textkey|translate)">{{ paragraph }}</p>
    </div>
</div>